name: Desplegament de la Calculadora de Carboni
on:
  push:
    branches:
      - main
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Connectar, actualitzar i reiniciar
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          key: ${{ secrets.SSH_PRIVATE_KEY }}
          port: 2244
          script: |
            cd /var/www/Calculadora_Petjada_carboni
            git fetch origin main
            git reset --hard origin/main
            npm ci --production
            pm2 restart calculadora-carboni